# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
ex1/node_modules
ex2/node_modules
ex2/src/config/constants.json

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

